langchain
python-dotenv
requests>=2.28.0
beautifulsoup4>=4.11.0
lxml>=4.9.0 
langchain-openai
langchain-google-genai
langchain-community
pypdf
unstructured
unstructured[md]
chromadb
numpy
langgraph
streamlit
openai
ollama
pydantic
ipykernel
langchain-tavily
tavily-python
gradio